.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 .2rem 1rem;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background-color: rgb(255, 255, 255);
}

.Business .image-container {
  height: 12rem;
  margin-bottom: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.Business h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: rgb(0, 107, 160);
  height: 2em;
}


.Business-information {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
}

.Business-reviews h3 {
  font-weight: 400;
  font-size: .88rem;
  margin-top: 0px;
}

.Business-reviews .rating {
  font-size: .88rem;
  line-height: 1rem;
}

/* #0198E1 */