.App {
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  background-color: rgba(0, 0, 0, 0.824);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  margin: 0;
  padding: 7px;
}

h1 .highlight {
  color: #09c648;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App-playlist {
  display: flex;
  width: 100%;
}

.App-user-playlist {
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

.footer {
  color: #000;
  text-align: center;
  padding: 10px;
}