.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6f6f6f;
  }
.Track img:hover {
  cursor: pointer;
}
  
  .Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    color: black;
  }
  
  .Track-action:hover {
    color: rgba(265, 265, 265, .5);
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    padding-left: 20px;
  }
  
  .Track-information h3 {
    margin-bottom: .22rem;
    color: #000;
  }
  
  .Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: #000;
  }