.UserPlaylists {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.831);
  /* display: flex;   */
  /* float: right; */
}

.UserPlaylists h2 {
  background-color: rgba(0, 0, 0, 0.934);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  margin: 0;
  padding: 12px;
}
  
@media only screen and (max-width: 1020px) {
  .UserPlaylists {
    width: 100%;
  }
}