.SearchResults {
  width: 50%;
  max-height: 400px;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.SearchResults h2 {
    color: #000;
    border-bottom: 1px solid #6f6f6f;
}
  
@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
}